
<div class="dropdown" (click)="expand = !expand" [ngStyle]="{width: width}">
    <div class="dropdown-toggle width100" >
        <span class="hidden-xs width100">
            <span *ngIf="!select && placeholder && !isDate">{{ placeholder }}</span>
            <span *ngIf="!select && placeholder && isDate">{{ placeholder }}</span>
            <span *ngIf="select && !isDate">{{ select }}</span>
            <span *ngIf="isDate">{{ select | date}}</span>
        </span>

        <i class="fa fa-table">&hearts;</i>
    </div>
    <ul class="dropdown-menu slide" [hidden]="expand">
        <li (click)="clickEvent('')">Clear</li>
        <li  *ngFor="let item of array;" (click)="clickEvent(item)">
            <span *ngIf="isDate">{{ item  | date}}</span>
            <span *ngIf="!isDate">{{ item }}</span>
        </li>
    </ul>
</div>

