@import "./../../../assets/style/variables";
input{
  background: $text-field-background;
  color: $text-field-color;
  padding: 5px 10px;
  outline: none;
  border: none;
  &::placeholder{
    color: $text-field-color-placeholder;
  }
}
