@import "./../../../assets/style/variables";
.block{
  width: 30px;
  height: 30px;
}
.paginate {
  .item, .paginate-right-arrow, .paginate-left-arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    background: $paginate-background;

    &.active {
      color: $paginate-color-active;
      background: $paginate-background-active;
    }

    &:hover:not(.paginate-left-arrow):not(.paginate-right-arrow) {
      background: $paginate-background-hover;
    }

    &.disabled {
      background: $paginate-background-disabled;

      &:hover {
        background: $paginate-background-hover-disabled!important;
      }
    }
  }

  .paginate-right-arrow, .paginate-left-arrow {
    background: $paginate-background-arrow;
  }

}
