@import "./../../../../../assets/style/variables";
.tr{
  .th{
    background: $t-header-background;
    padding: 5px 10px;
    min-width: 100px;
    color: $t-header-color;
    .filter{
      width: 10px;
      height: 29px;
      font-weight: bold;
      font-size: 14px;
      .ASC, .DESC{
        cursor: pointer;
        transform: rotateZ(90deg);
      }
    }
  }
}
