<main>
    <div class="wrapper">
        <div class="nav">
            <text-field
                    (input)="searchStr = $event.data"
                    [width]="'170px'"
                    placeholder="Name">
            </text-field>
            <dropdown
                    [arrayData]="arrayNetwork"
                    placeholder="Network"
                    (change)="searchNetwork = $event">
            </dropdown>
            <dropdown
                    [arrayData]="arrayDate"
                    placeholder="Premiere"
                    (change)="searchDate = $event">
            </dropdown>
        </div>
        <div class="nav">
            <dropdown
                [arrayData]="arrayGenre"
                [width]="'190px'"
                placeholder="Genre"
                (change)="searchGenre = $event">
            </dropdown>
        </div>
        <app-table
            [dataSource]="getData"
            (orderBy)="orderBy.field = $event.cellProp;orderBy.way = $event.order"
            [orderBy]="orderBy"
            [limit]="pager"
            [childRowTemplate]="[
                {
                    nameProps: 'name',
                    ref: childTemplate
                }
            ]"
        >
            <t-column
                    cellName="Name"
                    [filter]="orderBy.field === 'name'"
                    template="name"
                    cellProp="name">
            </t-column>
            <t-column
                    cellName="Season"
                    [filter]="orderBy.field === 'season'"
                    cellProp="season">
            </t-column>
            <t-column
                    cellName="Network"
                    [filter]="orderBy.field === 'network'"
                    cellProp="network">
            </t-column>
            <t-column
                    cellName="Premiere"
                    [filter]="orderBy.field === 'date'"
                    cellProp="date"
                    date="date"
            >
            </t-column>
            <ng-template #childTemplate let-item="item">
                <div>
                    {{item.name}}
                </div>
                <badge [arrayData]="item.genre || []"></badge>
            </ng-template>
        </app-table>
        <app-paginate
            [length]="pageLength"
            [current]="active"
            [isPagerActive]="true"
            [activePageSize]="pager"
            (change)="changePagination($event)"
        >
        </app-paginate>
    </div>
</main>
