<main class="d-flex align-center justify-center width100">

    <div class="wrapper">
        <btn
            (click)="infinite = !infinite;"
            [isActive]="infinite"
            [width]="'100px'"
            [text]="'Infinite scroll'">
        </btn>
        <div class="nav justify-between width100 d-flex m-10-0">
            <text-field
                    (input)="searchStr = $event.data"
                    [width]="'170px'"
                    placeholder="Name">
            </text-field>
            <dropdown
                    [arrayData]="arrayNetwork"
                    placeholder="Network"
                    (change)="searchNetwork = $event">
            </dropdown>
            <dropdown
                    [arrayData]="arrayDate"
                    placeholder="Premiere"
                    [isDate]="true"
                    (change)="searchDate = $event">
            </dropdown>
        </div>
        <div class="nav justify-between width100 d-flex m-10-0">
            <dropdown
                [arrayData]="arrayGenre"
                [width]="'190px'"
                placeholder="Genre"
                (change)="searchGenre = $event">
            </dropdown>
        </div>
        <app-table
            [dataSource]="getData"
            (orderBy)="orderBy.field = $event.cellProp;orderBy.way = $event.order"
            [orderBy]="orderBy"
            [limit]="pager"
            [infiniteScroll]="infinite"
            (onLoadInfinite)="infinitePager = $event"
            [infiniteScrollCount]="infinitePager"
            [childRowTemplate]="[
                {
                    nameProps: 'name',
                    ref: childTemplate
                }
            ]"
        >
            <t-column
                    cellName="Name"
                    [filter]="orderBy.field === 'name'"
                    template="name"
                    cellProp="name">
            </t-column>
            <t-column
                    cellName="Season"
                    [filter]="orderBy.field === 'season'"
                    cellProp="season">
            </t-column>
            <t-column
                    cellName="Network"
                    [filter]="orderBy.field === 'network'"
                    cellProp="network">
            </t-column>
            <t-column
                    cellName="Premiere"
                    [filter]="orderBy.field === 'date'"
                    cellProp="date"
                    date="date"
            >
            </t-column>
            <ng-template #childTemplate let-item="item">
                <div>
                    {{item.name}}
                </div>
                <badge
                        [arrayData]="item.genre || []"
                        [arrayDataCheck]="lService.genreWithColor"
                ></badge>
            </ng-template>
        </app-table>
        <app-paginate
             *ngIf="isPaginate"
            [length]="pageLength"
            [current]="active"
            [isPagerActive]="true"
            [activePageSize]="pager"
            (change)="changePagination($event)"
        >
        </app-paginate>
    </div>
</main>
