.pager{
  display: flex;
  .pager-item{
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background: rgba(248, 216, 148, 0.25);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active{
      color: white;
      background: #fe9f50;
    }
    &:hover{
      background: #fdcc68;
    }
  }
}
