@import "./../../../../assets/style/variables";
.pager{
  display: flex;
  .pager-item{
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background: $pager-background;
    cursor: pointer;
    transition: all 0.5s;
    &.active{
      color: $pager-color-active;
      background: $pager-background-active;
    }
    &:hover{
      background: $pager-hover-background;
    }
  }
}
